@page
@model QuizModel

@if (Model.CurrentQuestion != null)
{
    <form method="post">
        <h2>@Model.Quiz.Title</h2>

        <div>
            <p>@Model.CurrentQuestion.QuestionText</p>
            @for (int i = 0; i < Model.CurrentQuestion.Answers.Count; i++)
            {
                <div class="form-group">
                    <input type="radio" asp-for="SelectedAnswer" value="@i" name="SelectedAnswer" />
                    <label>@Model.CurrentQuestion.Answers[i].AnswerText</label>
                </div>
            }
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
}

@if (Model.FeedbackMessage != null && !Model.IsQuizComplete)
{
    <div class="alert @(Model.IsCorrectAnswer.Value ? "alert-success" : "alert-danger")">
    @Model.FeedbackMessage
    </div>
}
else @if (Model.IsQuizComplete)
{
    <div class="alert alert-success">
        @Model.FeedbackMessage
        <form method="post" asp-page-handler="Reset">
        <button type="sumbit" class="btn btn-primary">Reset Quiz</button>
        </form>
    </div>
}
