@page
@model QuizModel

@if (Model.CurrentQuestion != null)
{
    <form method="post">
        <h2>@Model.Quiz.Title</h2>

        @*<div>
            <p>@Model.CurrentQuestion.QuestionText</p>
            @for (int i = 0; i < Model.CurrentQuestion.Answers.Count; i++)
            {
                <div class="form-group">
                    <input type="radio" asp-for="SelectedAnswer" value="@i" name="SelectedAnswer"
                    disabled="@(Model.FeedbackMessage != null)"/>
                    <label>@Model.CurrentQuestion.Answers[i].AnswerText</label>
                </div>
            }
        </div>
        @if(Model.FeedbackMessage == null)
        {
            <button type="submit" class="btn btn-primary">Submit</button>
        }*@
      
    </form>
}

@if (Model.FeedbackMessage != null && !Model.IsQuizComplete)
{    
    <div class="alert @(Model.IsCorrectAnswer.Value ? "alert-success" : "alert-danger")">
        @Model.FeedbackMessage
        @if (!Model.IsCorrectAnswer.Value)
        {
            <form method="post" asp-page-handler="NextQuestion">
                <button type="submit" class="btn btn-primary">Next Question</button>
            </form>
        }
         
    </div>
}
else @if (Model.IsQuizComplete)
{
    <div class="alert alert-success">
        @Model.FeedbackMessage
        <form method="post" asp-page-handler="Reset">
        <button type="sumbit" class="btn btn-primary">Reset Quiz</button>
        </form>
    </div>
}
